
<section>

    <div class="center">
       <div class="slider__wrapper">
          <span class="slider"></span>
          <span class="slider__text">WELCOME Dr {{ firstName }} {{ lastName }}</span>
       </div>
    </div>
    <div class="content">
       <!-- card -->
       <div class="card">
          <a href="message\chat.php">
             <div class="icon"><i class="material-icons md-36"><img src="assets/images/conversation.png" alt=""></i></div>
             <p class="title">Message</p>
             <p class="text"></p>
          </a>
       </div>
       <!-- end card -->
       <!-- card -->
       <div class="card">
          <a href="crudrecruter\student.php">
             <div class="icon"><i class="material-icons md-36"><img src="assets/images/posting.png" alt=""></i></div>
             <p class="title">Rendez-vous</p>
             <p class="text"> </p>
          </a>
       </div>
       <!-- end card -->
       <!-- card -->
       <div class="card">
          <a href="">
             <div class="icon"><i class="material-icons md-36"><img src="assets/images/application.png" alt=""></i></div>
             <p class="title">Mes Patients</p>
             <p class="text"></p>
          </a>
       </div>
       <!-- end card -->
  
  
  
    </div>
    
    </section>
   
  
  
  