<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="index.html">
                    <i class="fas fa-stethoscope fa-sm mb-1"></i>
                    <span>DocLink</span>
                   
                    
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h3 class="site-footer-title mb-3">Resources</h3>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">How it works</a>
                    </li>

        
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Contact</a>
                    </li>
             
                <li class="site-footer-link-item">
                    <a href="#" class="site-footer-link">Pages</a>
                </li>

                <li class="site-footer-link-item">
                    <a href="#" class="site-footer-link">Specialty</a>
                </li>
            </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h3 class="site-footer-title mb-3">Information</h3>
            
                <!-- <p class="text-white d-flex mb-1">
                    <i class="fas fa-phone"></i>
                    <a href="tel:305-240-9671" class="site-footer-link">
                        07-11-54-32-19 
                    </a>
                </p>
                 -->
                <p class="text-white d-flex mb-1">
                    <i class="fab fa-facebook"></i>
                    <a href="https://www.facebook.com/VotrePageFacebook" class="site-footer-link">
                        <i class="fab fa-facebook"></i>
                    </a>
                </p>
                
                <p class="text-white d-flex mb-1">
                    <i class="fab fa-instagram"></i>
                    <a href="https://www.instagram.com/VotreCompteInstagram" class="site-footer-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                </p>
                
                <p class="text-white d-flex mb-1">
                    <i class="fab fa-linkedin"></i>
                    <a href="https://www.linkedin.com/VotreCompteLinkedIn" class="site-footer-link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </p>
            
                <p class="text-white d-flex mb-0">
                    <i class="fab fa-twitter"></i>
                    <a href="https://twitter.com/VotreCompteTwitter" class="site-footer-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                </p>
                
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                <div class="col-lg-3 col-md-4 col-6">
                    <h3 class="site-footer-title mb-3">Language:</h3>
    
                    <p  style="color:#4ca3af;">
                        English
                    </p>
                    
                </div>

            </div>

        </div>
    </div>
</footer>
