/* Custom styles for the modal body and buttons */
.modal-body {
    display: flex;
    justify-content: space-around;
}

.btn-primary {
  width: 100%;
  margin-top: 10px; 
  background-color: #80d0c7;
  border-color: #80d0c7;
}

.btn-primary img {
  width: 100%;
  height: auto;
  max-height: 150px; 
  object-fit: contain;
  margin-bottom: 10px; 
}


/* Adjust margins or padding as needed */
.specialty-list {
    position: fixed;
    top: 37%;
    left: 54%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color:#ffffff;
    border: 1px none ;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .specialty-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .specialty-list li {
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .specialty-list.hidden {
    display: none;
  }

  /* styles.css */
.specialty-list li:hover {
    background-color: #e0e0e0; /* Couleur de fond lorsque survolé */
  }
  




  /* Navbar */


/* Navbar */

/* navbar.component.css */

.nav-profile-img {
  position: relative;
}

.availability-status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px; /* You can adjust the size as needed */
  height: 12px;
  background-color: #28a745; /* Adjust the color as needed */
  border-radius: 50%;
  border: 2px solid #ffffff; /* Adjust the color as needed */
}

.profile-image {
  margin-right: 8px; /* You can adjust the margin as needed */
}

.profile-name {
  font-size: 14px; /* You can adjust the font size as needed */
  margin-top: 4px; /* You can adjust the margin as needed */
  margin-bottom: 0;
}
