* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-container {
    position: relative;
}

.search-results {
    position: absolute;
    top: 100%; /* Adjust as needed */
    left: 0;
    width: 100%;
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: block ;
    
}

.search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.search-results li:hover {
    background-color: #f8f9fa;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-weight: bold;
}

.user-specialty,
.user-address {
    font-size: 14px;
    margin: 0;
}

.grish {
    color: #338573;
}
/* Assurez-vous d'ajuster ces styles en fonction de vos besoins spécifiques */

/* Utilisation d'un système de grille */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
    gap: 20px; /* Espacement entre les cartes */
}

/* Styles spécifiques à chaque carte */
.card-pricing {
    /* Ajoutez ici les styles spécifiques à chaque carte */
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-pricing .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.card-pricing .label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.card-pricing .price {
    display: flex;
    align-items: baseline;
}

.card-pricing .chiffre {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.card-pricing .appel {
    font-size: 14px;
    color: #777;
    margin-left: 5px;
}

.card-pricing ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-pricing li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #333;
}

.card-pricing li i {
    margin-right: 10px;
    color: #50d1c0; /* Couleur de la coche (vert) */
}

/* Style de la séparation */
.separator-hr {
    border: 1px solid #ddd;
}