<style>
    .member {
      position: relative;
      overflow: hidden;
    }
  
    .member::before,
    .member::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid transparent;
      transition: border-color 0.3s ease-in-out;
      z-index: -1; /* Add this line to place the borders below the content */
    }
  
    .member::before {
      top: 0;
      left: 0;
      border-right-color: #3498db; /* Change the color as needed */
      border-bottom-color: #3498db; /* Change the color as needed */
    }
  
    .member::after {
      bottom: 0;
      right: 0;
      border-left-color: #3498db; /* Change the color as needed */
      border-top-color: #3498db; /* Change the color as needed */
    }

    .member:hover::before,
    .member:hover::after {
      border-color: transparent; /* Change the color as needed */
    }

    .member:hover {
      box-shadow: 0 0 10px  #3498db
    }
</style>
<section class="hero-section d-flex " style="
padding-top: 60px;
padding-bottom: 50px;
      " >
    <div class="container" >

        <div class="col-lg-8 col-12 mx-auto">




          <!-- search.component.html -->
          <form  class="custom-form mt-4 pt-2 mb-lg-0 mb-5">
            <div class="input-group input-group-lg position-relative" style="margin-top: 20px;">
              <span class="input-group-text bi-search" id="basic-addon1" ></span>

              <input
                name="keyword"
                type="search"
                class="form-control"
                id="keyword"
                placeholder="Hospital, Speciality, Doctor..."
                aria-label="Search"
                [(ngModel)]="searchText"
                (input)="search()"
              />

              <div *ngIf="searchText && results.length > 0; else noResults" class="search-results">
                <!-- Display results in a list below the search input -->
                <ul>
                  <li *ngFor="let result of results" >
                    <div class="user-info d-flex align-items-center">
                      <div class="profile-header-img profile-header-img:hover" style="margin-right: 10px;">
                        <img src="{{ result.imageUrl || 'https://bootdey.com/img/Content/avatar/avatar3.png' }}" alt="">
                      </div>
                      <div>
                        <span class="user-name">{{ result.firstname }} {{ result.lastname }}</span>
                        <p class="user-details">{{ result.speciality }} - {{ result.address }}</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <ng-template #noResults>
                <!-- Display a message when there are no results -->
              </ng-template>

              <button type="submit" class="form-control">Search</button>
            </div>
          </form>

        </div>

    </div>
  </section>

  
  <section id="team" class="team section-bg" style="margin-top: 60px;background-color: white;">
    <div class="container">
      <div class="section-title">
      </div>
      <div class="underline"></div>
      <br>
      <div class="row">
        <div class="col-lg-6 mt-4" *ngFor="let doctor of results1">
          <div class="member d-flex align-items-start">
            <div class="teampic">
            <img *ngIf="doctor.imageUrl" src="{{doctor.imageUrl}}" class="img-fluid" alt="">
         
              </div>
            <div class="member-info">
              <h4>Dr {{ doctor.firstname }} {{ doctor.lastname }}</h4>
              <span>{{ doctor.speciality }}</span>
              <p>Consultation vidéo disponible</p>
              <p>{{ doctor.address }}</p>
              <br>
              <button class="button" (click)="prendrerendezvous(doctor.id)" >
                Prendre rendez vous
                <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                  <path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  