.custom-button {
  background-color: #28a745; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  /* Ajoutez d'autres styles personnalisés selon vos besoins */
}


custom-input {
  width: 200px; /* Ajoutez la largeur souhaitée */
  /* Ajoutez d'autres styles personnalisés selon vos besoins */
}