<section class="vh-100" style="margin-top: 50px;">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="./assets/images/Mobile-login-Cristina.jpg" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <p class="mb-4 text-center" style="color: black;">Saisissez vos informations pour continuer.</p>

        <form [formGroup]="formregister" (ngSubmit)="handleregister()">
          <div class="form-outline mb-4">
            <input type="text" id="form1Example11" class="form-control form-control-lg" formControlName="firstName"/>
            <label class="form-label" for="form1Example13">firstName</label>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="form1Example12" class="form-control form-control-lg" formControlName="lastName"/>
            <label class="form-label" for="form1Example13">lastName</label>
          </div>

          <div class="form-outline mb-4">
            <input type="email" id="form1Example13" class="form-control form-control-lg" formControlName="email"/>
            <label class="form-label" for="form1Example13">Email</label>
          </div>

          <div class="form-outline mb-4">
            <input type="password" id="form1Example14" class="form-control form-control-lg" formControlName="password"/>
            <label class="form-label" for="form1Example23">Password</label>
          </div>

          <div class="form-outline mb-4">
            <input type="password" id="form1Example15" class="form-control form-control-lg" formControlName="repeatpassword"/>
            <label class="form-label" for="form1Example23">Repeat Password</label>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <a href="#!">J'ai déjà un compte</a>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="acceptTerms" formControlName="acceptTerms"/>
              <label class="form-check-label" for="acceptTerms">J'accepte les Conditions d'Utilisation </label>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="rememberUsername" formControlName="rememberUsername"/>
              <label class="form-check-label" for="rememberUsername">Se souvenir de mon identifiant</label>
            </div>
          </div>

          <button type="submit" style="background-color: #80d0c7;" class="btn btn-primary btn-lg btn-block">Sign in</button>
       
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <a href="#!">J'ai déjà un compte</a>
          </div>
          <button type="submit" style="background-color: #80d0c7;" class="btn btn-primary btn-lg btn-block">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</section>

